In [2]:
import pandas as pd

countries = pd.Series(
    data = ['England', 'Canada', 'USA', 
            'Russia', 'Ukraina', 'Belarus', 'Kazahstan'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)

display(countries)

UK      England
CA       Canada
US          USA
RU       Russia
UA      Ukraina
BY      Belarus
KZ    Kazahstan
Name: countries, dtype: object

In [3]:
import pandas as pd

countries_df = pd.DataFrame(
    data= [
        ['England', 56.29, 133396],
        ['Canada', 38.05, 9984670],
        ['USA', 322.28, 9826630],
        ['Russia', 146.24, 17125191],
        ['Ukraina', 45.5, 603628],
        ['Belarus', 9.5, 207600],
        ['Kazahstan', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index= ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)

display(countries_df)

countries_df.mean(axis=0)

countries_df.population

countries_df['population']

countries_df.loc['RU', ['population', 'square']]
countries_df.loc[['UA', 'BY', 'KZ'],['population', 'square']]

      country  population    square
UK    England       56.29    133396
CA     Canada       38.05   9984670
US        USA      322.28   9826630
RU     Russia      146.24  17125191
UA    Ukraina       45.50    603628
BY    Belarus        9.50    207600
KZ  Kazahstan       17.04   2724902

/var/folders/xd/8vr8l8z524lfmrf6brt_bcjr0000gp/T/ipykernel_846/4239366119.py:18: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  countries_df.mean(axis=0)

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902